@{
    ViewData["Title"] = "Trang chủ";
}


@section mycss{
<link href="~/httt/css/mycss.css" rel="stylesheet">
}

<div class="text-center">
    <h1 class="display-4">Trang chủ</h1>
    <p>Thực hành xây dựng Website</p>
    <span><strong>Hiển thị nội dung của index trong page Home</strong></span>
</div>
